/* 
==============================
  VARIABLES
==============================
*/

:root {
  /* Colors */
  --gold: #fed700;
  --gold-hover: #ffc800;
  --cyprus: #002e3c;
  --cyprus-light: #103d4b;
  --cyprus-overlay: #002e3cbd;
  --cyprus-separator-lane: #1d4856;
  --white: #ffffff;
  --light-light-grey: #e6eaedff;
  --light-grey: #cfd7dbff;
  --light-medium-grey: #abbac0;
  --medium-grey: #92a4ab;
  /* Fonts & Typography */
  --font-1: "Host Grotesk", sans-serif;
  --font-2: "M PLUS 1", sans-serif;
  --font-3: "Gothic A1", sans-serif;
  --font-4: "Mulish", sans-serif;
  --font-5: "Manrope", sans-serif;
  --font-6: "Arimo", sans-serif;
  --font-size-default: 1.6rem;
  --font-size-small: 1.3rem;
  --font-size-medium: 1.9rem;
  --font-weight-default: 400;
  --font-weight-medium: 500;
  --font-weight-medium-plus: 600;
  --font-weight-bold: 700;
  --letter-spacing: 0.4px;
  --line-height-small: 1.2;
  --line-height-medium: 1.5;
  /* Length values */
  --padding-base: 16px;
  --padding-small: 10px;
  --column-gap: 32px;
  --row-gap: 24px;
  /* Other values */
  --timing: cubic-bezier(0.1, 0, 0, 1);
  --time: 450ms;
  --transition: var(--time) var(--timing);
  --z-mobile-menu: 30;
  --z-overlay: 20;
  --z-header: 10;
}

/* 
==============================
  BASE
==============================
*/
body {
  font-family: var(--font-6);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  /* border: 1px solid red; */
}

/* body lock & overlay */
body.lock {
  overflow: hidden;
}

.overlay__body {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--transition);
  z-index: var(--z-overlay);
}

.overlay__body.active {
  position: fixed;
  height: 100vh;
  background-color: var(--cyprus-overlay);
}
/* end body lock & overlay */

/* 
==============================
  REUSABLE CLASSES
==============================
*/
