/* 
==============================
  VARIABLES
==============================
*/

:root {
  /* Colors */
  --gold: #fed700;
  --gold-hover: #ffc800;
  --cyprus: #002e3c;
  --cyprus-light: #103d4b;
  --cyprus-overlay: #002e3cbd;
  --cyprus-separator-lane: #1d4856;
  --cyprus-title: #506c74;
  /* --cyprus-title-strong: #002e3c; */
  --white: #ffffff;
  --light-light-grey: #e6eaedff;
  --light-grey: #cfd7dbff;
  --light-medium-grey: #abbac0;
  --medium-grey: #92a4ab;
  /* Fonts & Typography */
  --font-1: "Host Grotesk", sans-serif;
  --font-2: "M PLUS 1", sans-serif;
  --font-3: "Gothic A1", sans-serif;
  --font-4: "Mulish", sans-serif;
  --font-5: "Manrope", sans-serif;
  --font-6: "Arimo", sans-serif;
  --font-size-default: 1.6rem;
  --font-size-small: 1.3rem;
  --font-size-medium: 1.9rem;
  --font-weight-default: 400;
  --font-weight-medium: 500;
  --font-weight-medium-plus: 600;
  --font-weight-bold: 700;
  --letter-spacing: 0.4px;
  --line-height-small: 1.2;
  --line-height-medium: 1.5;
  /* Length values */
  --padding-base: 16px;
  --padding-small: 10px;
  --section-padding: 28px;
  --section-margin: 48px;
  --column-gap: 32px;
  --row-gap: 24px;
  /* Other values */
  --timing: cubic-bezier(0.1, 0, 0, 1);
  --time: 450ms;
  --time-fast: 240ms;
  --transition: var(--time) var(--timing);
  --transition-fast: var(--time-fast) var(--timing);
  --z-mobile-menu: 30;
  --z-overlay: 20;
  --z-header: 10;
}

/* 
==============================
  BASE
==============================
*/
body {
  font-family: var(--font-6);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--cyprus);
}

* {
  /* border: 1px solid red; */
}

/* body lock & overlay */
body.lock {
  overflow: hidden;
}

.overlay__body {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--transition);
  z-index: var(--z-overlay);
}

.overlay__body.active {
  position: fixed;
  height: 100vh;
  background-color: var(--cyprus-overlay);
}
/* end body lock & overlay */

/* 
==============================
  REUSABLE CLASSES
==============================
*/
.section__content {
  padding-inline: var(--section-padding);
  margin-block: var(--section-margin);
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  gap: var(--row-gap);
  /* text-align: center; */
}

.section__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: var(--row-gap);
  margin-bottom: 12px;
}

.section__cards-card {
  max-width: 480px;
  border: 1px solid var(--medium-grey);
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: all var(--transition-fast);
  box-shadow: 0 2px 4px -1px rgba(0, 37, 48, 0.24);
}

.section__cards-card:hover {
  transform: translateY(-8px);
  /* box-shadow: 0 6px 8px -1px rgba(0, 37, 48, 0.1); */
  /* box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.25); */
  box-shadow: 0px 6px 16px -1px rgba(0, 37, 48, 0.24);
  /* -webkit-box-shadow: 0px 18px 30px -18px rgba(66, 68, 90, 0.68); */
  /* -moz-box-shadow: 0px 18px 30px -18px rgba(66, 68, 90, 0.68); */
  /* box-shadow: 0px 18px 30px -18px rgba(66, 68, 90, 0.68); */
  /* border: 1px solid var(--medium-grey); */
}

.section__cards-card:active {
  /* border: 10px solid transparent; */
}

.card__img {
}

.card__txt {
  margin: var(--padding-base);
}

.card__txt-text {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--row-gap) / 3);
  margin-bottom: var(--padding-base);
}

.card__txt-text a {
  font-size: calc(var(--font-size-default) * 1.188);
  line-height: 28px;
  font-weight: 600;
  /* color: var(--cyprus); */
  letter-spacing: var(--letter-spacing);
}

.card__txt-text p {
  /* font-size: calc(var(--font-size-default) * 0.938); */
  font-size: var(--font-size-default);
  line-height: var(--line-height-medium);
  /* line-height: 24px; */
  letter-spacing: calc(var(--letter-spacing) / 2);
  color: var(--cyprus-title);
}

.card__txt-link {
  display: inline-block;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: calc(var(--row-gap) / 2);
}

.card__txt-link span {
  line-height: 32px;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  letter-spacing: calc(var(--letter-spacing) * 1.5);
}

.section__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__content-title--button {
}
