@import url(/assets/css/reset.css);
@import url(/assets/css/base.css);

/* 
==============================
  HEADER
==============================
*/
header {
  background-color: var(--cyprus);
  color: var(--white);
  height: 64px;
}

/* Mobile Header Navigation */
.header__nav-mobile {
  height: 100%;
}

.header__nav-mobile--container {
  height: 100%;
  padding-inline: var(--padding-inline);
  display: flex;
  align-items: center;
}

.header__nav-mobile--logo-container {
  height: 30px;
}

.header__nav-mobile--logo-link {
  height: 30px;
}

.header__nav-mobile--logo {
  height: 100%;
  width: auto;
}

.header__nav-mobile--buttons {
  max-width: 100%;
  flex: 1 1 auto;
  color: var(--white);
}

.header__nav-mobile--buttons ul {
  color: var(--light-grey);
  display: flex;
  justify-content: end;
  column-gap: var(--column-gap);
}

.header__nav-mobile--buttons ul li a {
  height: 100%;
  padding-block: 6px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: var(--transition);
}

.header__nav-mobile--buttons ul li a span {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing);
}

.header__nav-mobile--buttons ul li a:hover {
  color: var(--white);
}

.header__nav-mobile--buttons ul li:hover a {
  transform: translateY(-4px);
}
/* End Mobile Header Navigation */

/* Mobile Header Menu */
.header__nav-mobile--menu {
  width: min(100%, 400px);
  min-height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--cyprus);
  will-change: transform;
  transform: translateX(100%);
  /* transform: translateX(0); */
  /* transition: transform var(--transition); */
  overflow-y: scroll;
  /* z-index: var(--z-mobile-menu); */
}

.header__nav-mobile--menu-close {
}

.header__nav-mobile--menu-content {
}
/* End Mobile Header Menu */

/* PC Header Navigation */
.header__nav-pc {
  display: none;
}
/* End PC Header Navigation */

/* 
==============================
  MAIN
==============================
*/
main {
  height: 1000px;
}
