@import url(/assets/css/reset.css);
@import url(/assets/css/base.css);

/* 
==============================
  HEADER
==============================
*/
/* header {
  height: 64px;
} */

/* Mobile Header Navigation */
.header__nav-mobile {
  background-color: var(--cyprus);
  color: var(--white);
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  user-select: none;
  z-index: var(--z-header);
}

.header__nav-mobile--container {
  height: 100%;
  padding-inline: var(--padding-base);
  display: flex;
  align-items: center;
}

.header__nav-mobile--logo-container {
  height: 30px;
}

.header__nav-mobile--logo-link {
  height: 30px;
}

.header__nav-mobile--logo {
  height: 100%;
  width: auto;
}

.header__nav-mobile--buttons {
  max-width: 100%;
  flex: 1 1 auto;
  color: var(--white);
}

.header__nav-mobile--buttons ul {
  color: var(--light-grey);
  display: flex;
  justify-content: end;
  column-gap: var(--column-gap);
}

.header__nav-mobile--buttons ul li a {
  height: 100%;
  padding-block: 6px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: var(--transition);
}

.header__nav-mobile--buttons ul li a span {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing);
}

.header__nav-mobile--buttons ul li a:hover {
  color: var(--white);
}

.header__nav-mobile--buttons ul li:hover a {
  transform: translateY(-4px);
}
/* End Mobile Header Navigation */

/* Mobile Header Menu */
.header__nav-mobile--menu {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  color: var(--white);
  background-color: var(--cyprus);
  will-change: transform;
  transform: translateX(100%);
  transition: transform var(--transition);
  overflow-y: scroll;
  z-index: var(--z-mobile-menu);
}

.header__nav-mobile--menu.active {
  transform: translateX(0);
}

.header__nav-mobile--menu-close {
  padding-inline: var(--padding-base);
  background-color: var(--cyprus-light);
  color: var(--light-grey);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: end;
  box-shadow: 0 2px 4px -1px rgba(0, 37, 48, 0.72);
}

#mob-menu-close {
  padding-block: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: var(--transition);
}

.mobile-menu-close-btn:hover #mob-menu-close {
  color: var(--white);
  transform: translateY(-4px);
}

.header__nav-mobile--menu-content {
  padding-inline: calc(var(--padding-base) * 2);
  margin-block: calc(var(--padding-base) * 3);
}

.mobile__navigation-block--top ul,
.mobile__navigation-block--bottom ul {
  display: inline-block;
}

.mobile__navigation-block--top ul li,
.mobile__navigation-block--bottom ul li {
  width: fit-content;
}

.mobile__navigation-block--top button {
  color: var(--medium-grey);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-medium);
  text-align: start;
  padding-block: var(--padding-small);
  transition: var(--transition);
}

.mobile__navigation-block--top ul li:hover button {
  color: var(--light-grey);
}

.mobile__navigation-separator {
  border-bottom: 1px solid var(--cyprus-separator-lane);
  margin-block: calc(var(--padding-base) * 1.5);
}

.mobile__navigation-block--middle {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  color: var(--light-grey);
  letter-spacing: var(--letter-spacing);
}

.mobile__navigation-block--middle li {
  width: fit-content;
}

.mobile__navigation-block--middle a {
  padding-block: calc(var(--padding-small) / 2);
  display: flex;
  align-items: center;
  gap: 12px;
  transition: var(--transition);
}

.mobile__navigation-block--middle li:hover a {
  color: var(--white);
  transform: translateX(6px);
}

.mobile__navigation-block--bottom a {
  padding-block: var(--padding-small);
  color: var(--light-grey);
  font-weight: var(--font-weight-medium-plus);
}

.mobile__navigation-block--bottom ul li:hover a {
  color: var(--white);
}
/* End Mobile Header Menu */

/* PC Header Navigation */
.header__nav-pc {
  display: none;
  user-select: none;
}
/* End PC Header Navigation */

/* 
==============================
  MAIN
==============================
*/
main {
  /* display: block; */
}

.main {
}

.banner {
  /* height: calc(100vh - 128px); */
  /* height: calc(100vh - 64px); */
  height: 100vh;
  padding-top: 64px;
  /* margin-top: 64px; */
  background: #2c5f64ff;
}

.banner__container {
  position: relative;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
}

.banner__image {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  /* position: absolute; */
  /* top: 10%; */
}

.banner__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* scale: 1.1; */
  /* padding: 200px auto 0 auto; */
  /* object-position: top; */
  object-position: 50% 20%;
}

.banner__image::after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: multiply;
  background: linear-gradient(
    0deg,
    rgba(0, 37, 48, 0.6) 0%,
    rgba(0, 37, 48, 0) 65%,
    rgba(0, 37, 48, 0) 100%
  );
}

.banner__content {
  position: absolute;
  bottom: calc(var(--padding-base) * 2);
  /* background: #ff7171ff; */
  /* width: 270px; */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--row-gap);
}

.banner__content-title {
  color: var(--white);
}

.banner__content-title h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--row-gap) / 1.8);
}

.banner__content-title h1 span {
  text-align: center;
}

.banner__content-title--button {
  color: var(--white);
}

.banner__scroller-button {
  color: var(--white);
}

.conten-und-carten {
  height: 6000px;
}

/* 
==============================
  FOOTER
==============================
*/

/* 
==============================
  MEDIA QUERIES
==============================
*/
@media (min-width: 640px) {
  :root {
    --padding-inline: 32px;
  }

  .header__nav-mobile--menu {
    width: 50%;
    min-width: 480px;
  }
}

@media (min-width: 1024px) {
  .header__nav-mobile--container,
  .header__nav-mobile--menu-close {
    padding-inline: calc(var(--padding-base) * 2);
  }

  .header__nav-mobile--buttons ul li a span {
    font-size: var(--font-size-default);
  }

  .header__nav-mobile--menu {
    min-width: 720px;
    max-width: 1020px;
  }

  .header__nav-mobile--menu-content {
    padding-inline: calc(var(--padding-base) * 6);
    margin-block: calc(var(--padding-base) * 4.5);
  }

  .mobile__navigation-block--top,
  .mobile__navigation-block--middle,
  .mobile__navigation-block--bottom {
    padding-inline: var(--padding-base);
  }

  .mobile__navigation-separator {
    margin-inline: var(--padding-base);
  }

  .mobile__navigation-block--top button {
    font-size: calc(var(--font-size-default) * 1.4);
    font-weight: var(--font-weight-medium-plus);
    letter-spacing: var(--letter-spacing);
  }

  .mobile__navigation-block--middle {
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-medium-plus);
  }

  .mobile__navigation-block--bottom a {
    font-size: calc(var(--font-size-default) * 1.1);
    letter-spacing: var(--letter-spacing);
  }
}

@media (min-width: 1200px) {
  .header__nav-mobile--menu-content {
    margin-block: calc(var(--padding-base) * 5.25);
  }

  .mobile__navigation-block--top,
  .mobile__navigation-block--middle,
  .mobile__navigation-block--bottom {
    padding-inline: calc(var(--padding-base) * 3.2);
  }

  .mobile__navigation-separator {
    margin-inline: calc(var(--padding-base) * 3.2);
  }

  .mobile__navigation-block--top button {
    line-height: var(--line-height-small);
    font-size: calc(var(--font-size-default) * 1.45);
  }
}

@media (min-width: 1450px) {
  header {
    height: 128px;
  }

  .header__nav-mobile {
    display: none;
  }

  /* PC Header Navigation */
  .header__nav-pc {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 128px;
    background-color: var(--cyprus);
    color: var(--white);
    transition: 0.1s;
    /* transition: translate 0.9s; */
    box-shadow: 0 2px 4px -1px rgba(0, 37, 48, 0.36);
    z-index: var(--z-header);
  }

  .header__nav-pc--wrapper {
    max-width: 1680px;
    height: 100%;
    margin: 0 auto;
    padding-inline: calc(var(--padding-base) * 2);
    display: flex;
    align-items: center;
  }

  .header__nav-pc--logo-container {
    /* height: 100%; */
    height: 76px;
    margin-inline-end: 48px;
    transition: transform 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__nav-pc--logo-link {
    height: 100%;
  }

  .header__nav-pc--logo {
    height: 100%;
  }

  .header__nav-pc--buttons {
    width: 100%;
  }

  .header__nav-pc--top-collapsible {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .top-collapsible--left,
  .top-collapsible--right {
    display: flex;
  }

  .top-collapsible--left li {
    padding-inline: var(--padding-small);
    color: var(--medium-grey);
    font-size: calc(var(--font-size-default) * 1.0625);
    font-weight: var(--font-weight-medium-plus);
    letter-spacing: calc(var(--letter-spacing) * 2);
  }

  .top-collapsible--left li:hover a {
    color: var(--light-medium-grey);
  }

  .top-collapsible--right {
    display: flex;
    column-gap: calc(var(--padding-base) * 2);
    color: var(--light-grey);
  }

  .top-collapsible--right li a {
    display: flex;
    align-items: center;
    gap: 12px;
    transition: var(--transition);
  }

  .top-collapsible--right li a span {
    font-size: calc(var(--font-size-default) * 1.0625);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing);
  }

  .top-collapsible--right li a:hover {
    color: var(--white);
  }

  .top-collapsible--right li:hover a {
    transform: translateY(-4px);
  }

  .header__nav-pc--main-container {
    height: 64px;
    display: flex;
    align-items: center;
  }

  .header__nav-pc--main-container ul {
    padding-inline-start: var(--padding-small);
    display: flex;
    align-items: center;
    column-gap: calc(var(--padding-base) * 2);
  }

  .header__nav-pc--main-container li button {
    font-weight: var(--font-weight-bold);
    font-size: calc(var(--font-size-default) * 0.95);
    letter-spacing: calc(var(--letter-spacing) * 1.5);
    color: var(--light-grey);
  }

  .header__nav-pc--main-container li:hover button {
    color: var(--light-light-grey);
  }
  /* End PC Header Navigation */

  .banner {
    padding-top: 128px;
  }

  .banner__image img {
    object-position: 50% 30%;
  }
}
